@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-purple: #635FC7;
    --main-purple-hover: #A8A4FF;

    --black: #000112%;
    --very-dark-grey: #20212C;

    --dark-grey: #2B2C37;
    --lines-dark: #3E3F4E;

  
    --medium-grey: #828FA3;
    --lines-light: #E4EBFA;

    --light-grey: #F4F7FD;
    --white: #FFFFFF;

    --muted: #F4F7FD
    --muted-foreground: #FFFFFF;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: #EA5555%;
    --destructive-foreground: rgba(255, 152, 152, 0.9);

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}
/* Extra-large heading */
@layer components {
  .heading-xl {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0.1em; /* Change to 1.6px */
  }
}

/* Large heading */
@layer components {
  .heading-lg {
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    letter-spacing: 0.075em; /* Change to 1.2px */
  }
}

/* Medium heading */
@layer components {
  .heading-md {
    font-size: 15px;
    font-weight: bold;
    line-height: 19px;
    letter-spacing: 0.05em; /* Change to 0.8px */
  }
}

/* Small heading */
@layer components {
  .heading-sm {
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 2.4px;
  }
}
/* Small heading */
@layer components {
  .text-md {
    font-size: 13px;
    font-weight: medium;
    line-height: 23px;
  }
}
/* Small heading */
@layer components {
  .text-sm {
    font-size: 12px;
    font-weight: medium;
    line-height: 15px;
  }
}

img {
  height: fit-content;
}
